*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  font-size: 125%;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

button {
  padding: .5rem 1rem;
}