.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
}

.input {
  display: block;
  font-size: 125%;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid gray;
}

.textArea {
  display: block;
  font-size: 125%;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid gray;
}