

.header {
  background-color: lightgray;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1
}

.header nav a {
  margin: 0 0.125rem;
  padding: 0.5rem;
} 
